Repository arctern-io/arctern-docs, pull requests merged in 2020-06, with the labels that each got.

#206 Move up geoseries
  doc-cn/source/api_reference/api_reference.rst
  doc-cn/source/api_reference/standalone_api/standalone_api.rst
  doc-cn/source/feature_description/visualization/frontend_visualization/kepler_plot.md
  doc-cn/source/locale/zh_CN/LC_MESSAGES/quick_start/demo.po
  doc-cn/source/quick_start/standalone_installation.md
  doc-en/source/api_reference/api_reference.rst
  doc-en/source/api_reference/standalone_api/standalone_api.rst
  doc-en/source/feature_description/visualization/frontend_visualization/kepler_plot.md
  doc-en/source/quick_start/standalone_installation.md
Labels: arctern-0.2.0

#207 Translate to english
  doc-cn/source/feature_description/visualization/backend_visualization/arctern_plot.md
  doc-en/source/api_reference/api_reference.rst
  doc-en/source/feature_description/feature_description.rst
  doc-en/source/feature_description/spatiotemporal_analysis/spatiotemporal_analysis.rst
  doc-en/source/feature_description/visualization/backend_visualization/arctern_plot.md
  doc-en/source/feature_description/visualization/frontend_visualization/kepler_plot.md
  doc-en/source/feature_description/visualization/visualization.rst
  doc-en/source/quick_start/quick_start.rst
Labels: arctern-0.2.0

#216 Change read and write file doc
  doc-cn/source/feature_description/spatiotemporal_analysis/read_and_write_file.md
Labels: arctern-0.2.0

#217 add CN description to msgstr for the contents
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/geoseries.po
Labels: arctern-0.2.0

#222 Translate part of data structure
  doc-en/source/feature_description/spatiotemporal_analysis/data_structure.md
Labels: arctern-0.2.0

#224 Update plot api docs
  doc-cn/source/api_reference/map_match/map_match.rst
  doc-cn/source/api_reference/plot_api/plot_api.rst
  doc-cn/source/api_reference/plot_api/plot_choroplethmap.md
  doc-cn/source/api_reference/plot_api/plot_fishnetmap.md
  doc-cn/source/api_reference/plot_api/plot_geometry.md
  doc-cn/source/api_reference/plot_api/plot_heatmap.md
  doc-cn/source/api_reference/plot_api/plot_iconviz.md
  doc-cn/source/api_reference/plot_api/plot_pointmap.md
  doc-cn/source/api_reference/plot_api/plot_weighted_pointmap.md
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.intersection.mo
  doc-en/source/api_reference/map_match/map_match.rst
  doc-en/source/api_reference/plot_api/plot_api.rst
  doc-en/source/api_reference/plot_api/plot_choroplethmap.md
  doc-en/source/api_reference/plot_api/plot_fishnetmap.md
  doc-en/source/api_reference/plot_api/plot_geometry.md
  doc-en/source/api_reference/plot_api/plot_heatmap.md
  doc-en/source/api_reference/plot_api/plot_iconviz.md
  doc-en/source/api_reference/plot_api/plot_pointmap.md
  doc-en/source/api_reference/plot_api/plot_weighted_pointmap.md
Labels: arctern-0.2.0

#221 modified code format for python and bash
  doc-cn/source/feature_description/spatiotemporal_analysis/geometric_manipulation.md
  doc-en/source/feature_description/visualization/backend_visualization/arctern_plot.md
Labels: documentation

#226 edited en version of data_structure.md
  doc-en/source/feature_description/spatiotemporal_analysis/data_structure.md
Labels: arctern-0.2.0

#229 add cn description for methods in contents
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.po
Labels: arctern-0.2.0

#234 add api links
  doc-cn/source/feature_description/spatiotemporal_analysis/aggregation.md
  doc-cn/source/feature_description/spatiotemporal_analysis/crs_and_transform.md
  doc-cn/source/feature_description/spatiotemporal_analysis/data_structure.md
  doc-cn/source/feature_description/spatiotemporal_analysis/geometric_manipulation.md
  doc-cn/source/feature_description/spatiotemporal_analysis/indexing_selecting_data.md
  doc-cn/source/feature_description/spatiotemporal_analysis/map_match.md
  doc-cn/source/feature_description/spatiotemporal_analysis/plot_geometry.md
  doc-cn/source/feature_description/spatiotemporal_analysis/read_and_write_file.md
  doc-cn/source/feature_description/spatiotemporal_analysis/spatial_relationship_operation.md
  doc-cn/source/feature_description/visualization/backend_visualization/arctern_plot.md
  doc-cn/source/feature_description/visualization/frontend_visualization/kepler_plot.md
  doc-cn/source/feature_description/visualization/how_to_visualize.md
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/feature_description/spatiotemporal_analysis/aggregation.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/feature_description/spatiotemporal_analysis/aggregation.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/feature_description/spatiotemporal_analysis/crs_and_transform.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/feature_description/spatiotemporal_analysis/crs_and_transform.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/feature_description/spatiotemporal_analysis/indexing_selecting_data.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/feature_description/spatiotemporal_analysis/indexing_selecting_data.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/quick_start/demo.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/quick_start/demo.po
  doc-en/source/feature_description/spatiotemporal_analysis/aggregation.md
  doc-en/source/feature_description/spatiotemporal_analysis/crs_and_transform.md
  doc-en/source/feature_description/spatiotemporal_analysis/data_structure.md
  doc-en/source/feature_description/spatiotemporal_analysis/geometric_manipulation.md
  doc-en/source/feature_description/spatiotemporal_analysis/indexing_selecting_data.md
  doc-en/source/feature_description/spatiotemporal_analysis/map_match.md
  doc-en/source/feature_description/spatiotemporal_analysis/plot_geometry.md
  doc-en/source/feature_description/spatiotemporal_analysis/read_and_write_file.md
  doc-en/source/feature_description/spatiotemporal_analysis/spatial_relationship_operation.md
  doc-en/source/feature_description/visualization/backend_visualization/arctern_plot.md
  doc-en/source/feature_description/visualization/frontend_visualization/kepler_plot.md
  doc-en/source/feature_description/visualization/how_to_visualize.md
Labels: arctern-0.2.0

#239 modified en files based on the changes of corresponding cn files from PR #238
  doc-en/source/feature_description/spatiotemporal_analysis/data_structure.md
  doc-en/source/feature_description/spatiotemporal_analysis/map_match.md
  doc-en/source/feature_description/spatiotemporal_analysis/plot_geometry.md
  doc-en/source/feature_description/visualization/frontend_visualization/kepler_plot.md
Labels: arctern-0.2.0

#240 Update api po
  doc-cn/create_html.py
  doc-cn/source/feature_description/spatiotemporal_analysis/convert_from_and_to_geopandas_geoseries.md
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.area.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.area.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.centroid.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.centroid.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.convex_hull.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.convex_hull.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.curve_to_line.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.curve_to_line.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.envelope.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.envelope.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.fillna.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.fillna.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.geom_type.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.geom_type.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.is_simple.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.is_simple.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.is_valid.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.is_valid.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.isna.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.isna.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.length.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.length.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.notna.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.notna.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.npoints.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.npoints.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.set_crs.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.set_crs.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.simplify.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.simplify.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.to_crs.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.to_crs.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/geoseries.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/geoseries.po
  doc-en/compile.py
  doc-en/source/feature_description/spatiotemporal_analysis/convert_from_and_to_geopandas_geoseries.md
Labels: arctern-0.2.0

#241 add cn descriptions for methods
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.crs.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.equals.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.fillna.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.set_crs.po
Labels: arctern-0.2.0

#242 update po
  doc-cn/create_html.py
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.buffer.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.buffer.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.contains.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.contains.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.crosses.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.crosses.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.crs.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.distance.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.distance.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.distance_sphere.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.distance_sphere.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.envelope_aggr.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.envelope_aggr.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.equals.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.fillna.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.fillna.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.geom_equals.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.geom_equals.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.intersects.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.intersects.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.make_valid.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.make_valid.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.overlaps.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.overlaps.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.precision_reduce.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.precision_reduce.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.set_crs.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.simplify.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.simplify.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.touches.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.touches.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.unary_union.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.unary_union.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.within.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.within.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/geoseries.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/geoseries.po
  doc-en/compile.py
Labels: arctern-0.2.0

#243 add cn descriptions for GeoSeries methods
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.area.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.centroid.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.convex_hull.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.fillna.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.geom_type.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.is_simple.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.is_valid.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.isna.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.length.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.notna.po
Labels: arctern-0.2.0

#244 add attention in plot
  doc-cn/source/feature_description/visualization/backend_visualization/arctern_plot.md
Labels: arctern-0.2.0, help wanted

#245 Added faq to plot docs
  doc-cn/source/feature_description/visualization/backend_visualization/arctern_plot.md
  doc-cn/source/feature_description/visualization/backend_visualization/img/x11_forwarding.png
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.area.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.centroid.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.convex_hull.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.fillna.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.geom_type.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.is_simple.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.is_valid.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.isna.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.length.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.notna.mo
  doc-en/source/feature_description/visualization/backend_visualization/arctern_plot.md
Labels: arctern-0.2.0

#246 add cn descriptions for GeoSeries methods
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.buffer.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.centroid.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.convex_hull.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.curve_to_line.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.envelope.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.envelope_aggr.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.intersects.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.make_valid.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.npoints.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.precision_reduce.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.simplify.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.to_crs.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.unary_union.po
Labels: arctern-0.2.0

#247 Update po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/map_match/api/arctern.nearest_location_on_road.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/map_match/api/arctern.nearest_location_on_road.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.as_geojson.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.as_geojson.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.buffer.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.buffer.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.centroid.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.convex_hull.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.curve_to_line.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.curve_to_line.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.distance.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.distance.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.distance_sphere.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.distance_sphere.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.envelope.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.envelope.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.envelope_aggr.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.envelope_aggr.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.fillna.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.fillna.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.from_geopandas.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.from_geopandas.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.geom_from_geojson.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.geom_from_geojson.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.hausdorff_distance.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.hausdorff_distance.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.intersection.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.intersection.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.intersects.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.intersects.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.make_valid.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.make_valid.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.npoints.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.point.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.point.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.polygon_from_envelope.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.polygon_from_envelope.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.precision_reduce.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.precision_reduce.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.simplify.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.simplify.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.to_crs.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.to_crs.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.to_geopandas.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.to_geopandas.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.to_wkb.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.to_wkb.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.to_wkt.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.to_wkt.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.unary_union.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.unary_union.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/geoseries.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/geoseries.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/feature_description/visualization/backend_visualization/arctern_plot.mo
  doc-cn/source/locale/zh_CN/LC_MESSAGES/feature_description/visualization/backend_visualization/arctern_plot.po
Labels: arctern-0.2.0

#248 add and modified cn descriptions for GeoSeries methods
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.buffer.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.contains.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.crosses.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.curve_to_line.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.envelope_aggr.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.geom_equals.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.intersects.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.make_valid.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.precision_reduce.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.simplify.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.to_crs.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.touches.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.unary_union.po
  doc-cn/source/locale/zh_CN/LC_MESSAGES/api_reference/standalone_api/api/arctern.GeoSeries.within.po
Labels: arctern-0.2.0
